# Personal notes
Notes.txt

# Python
.venv/
__pycache__/
*.pyc

# macOS
.DS_Store

# Environment variables
.env

# Breadth module local data store
modules/breadth/data/

# Screener module local data store
modules/screener/data/

# Themes module local data store
modules/themes/data/